.App {
  header{
    height: 15vh;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05)
  }
  .background{
    height: 100%;
    min-height: 85vh;
    background-color: #eeeeee;
    padding: 2rem 1rem;
  }
}
.paths{
  img{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
}
.categories{
  display: inline-block;
  img{
    width: 100%;
    margin-bottom: 20px;
  }
}
.background{
  img{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }
}
